#icon {
    text-align: center;
    width: 100%;

    
    
}

.icon-facebook {
    color: white;
}

.icon-instagram {
    color: white;
}

.icon-whatsapp {
    color: white;
}

.icon-phone {
    color: white;
}