#icon {
    text-align: center;
    width: 100%;  
    
    
}

.icon-facebook {
    color: rgb(0, 17, 255);
    
}

.icon-instagram {
    color: rgb(211, 76, 216);
}

.icon-whatsapp {
    color: rgb(0, 129, 28);
}

.icon-phone {
    color: rgb(0, 0, 0);
}